{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="sidebar">
        <a href="#" class="menu-item">Home</a>
        <div class="accordion">
            <button class="accordion-btn" onclick="toggleAccordion()">Alignment <i class="fa fa-caret-down"></i></button>
            <div class="accordion-content">
                <a href="/needleman_wunsch" class="submenu-item">Needleman-Wunsch</a>
                <a href="/smith_waterman" class="submenu-item">Smith-Waterman</a>
                <a href="/glocal_alignment" class="submenu-item">Glokales Alignment</a>
                <a href="/overlap" class="submenu-item">Überlapp-Alignment</a>
            </div>
        </div>
        <a href="/dotplot" class="menu-item">Dotplot</a>
        <div class="accordion">
            <button class="accordion-btn" onclick="toggleAccordion()">Exaktes Pattternmatching <i class="fa fa-caret-down"></i></button>
            <div class="accordion-content">
                <a href="/simple_search" class="submenu-item">Simple Search</a>
                <a href="/horspool" class="submenu-item">Horspool</a>
            </div>
        </div>
        <div class="accordion">
            <button class="accordion-btn" onclick="toggleAccordion()">Phylogenie <i class="fa fa-caret-down"></i></button>
            <div class="accordion-content">
                <a href="/upgma" class="submenu-item">UPGMA</a>
                <a href="/neighbour_joining" class="submenu-item">Neighbour Joining</a>
            </div>
        </div>        
        <div class="accordion">
            <button class="accordion-btn" onclick="toggleAccordion()">String Indizes <i class="fa fa-caret-down"></i></button>
            <div class="accordion-content">
                <a href="/suffix_trie" class="submenu-item">Suffixtrie</a>
                <a href="/suffix_tree" class="submenu-item">Suffixtree</a>
                <a href="/suffix_array" class="submenu-item">Suffixarray</a>
            </div>
        </div>
        <a href="#" class="menu-item">Viterbi</a>
        <footer>
            <a href="https://www.thm.de/site/datenschutz.html">Datenschutz</a>
            <span class="vertical-bar"> | </span>
            <a href="https://www.thm.de/site/impressum.html">Impressum</a>
        </footer>
        
        
    </div>

    <div class="content">
        <div class = "algo"> 
        {% block content %}
        

        
        {% endblock %}
    </div>    

    </div>

   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var accordionBtns = document.getElementsByClassName("accordion-btn");
          
            for (var i = 0; i < accordionBtns.length; i++) {
              accordionBtns[i].addEventListener("click", toggleAccordion);
            }
          });
          
          function toggleAccordion() {
            var accordionContent = this.nextElementSibling;
            var accordionBtn = this;
          
            $(accordionContent).slideToggle();
            $(accordionBtn).toggleClass("active");
          }
    </script>
</body>
</html>
