{% extends 'base.html' %}
{% load static %}
{% block title%} Dotplot {% endblock %}
{% block extra_head %} <link rel="stylesheet" href="{% static 'css/dotplot.css' %}"> {% endblock %}
{% block content %}
    
    <h1>Dotplot</h1>
    <div class ="description"> 
    <p>
      Beim Dotplot wird die Ähnlichkeit von zwei Sequenzen betrachtet. Die erste Sequenz ist oben in der Matrix und die zweite links.
      Jeder Buchstabe der ersten Sequenz wird mit jedem Buchstaben der zweiten Sequenz verglichen. Wenn die Buchstaben gleich sind, wird die entsprechende Zelle der Matrix markiert.
      Die Sequenzen können maximal 200 Zeichen lang sein.
     
    </p>
    </div>
    <div class = "input">  
  
    <h2> Input </h2>
    <ul> 
      <li>Als Eingabe für die Sequenzen sind nur lateinsche Buchstaben erlaubt.</li>
      <li>Die Ausgabe ist die Dotplot-Matrix.</li>
    </ul>
    <form method="POST" action="{% url 'dotplot' %}">
        {% csrf_token %}
        <div class="form-field {% if form.sequence1.errors %}has-error{% endif %}">
          <label for="{{ form.sequence1.id_for_label }}">Sequenz 1:</label>
          {{ form.sequence1 }}
          {% if form.sequence1.errors %}
              <div class="error-message">
                  {{ form.sequence1.errors.as_text }}
              </div>
          {% endif %}
      </div>
      <div class="form-field {% if form.sequence2.errors %}has-error{% endif %}">
          <label for="{{ form.sequence2.id_for_label }}">Sequenz 2:</label>
          {{ form.sequence2 }}
          {% if form.sequence2.errors %}
              <div class="error-message">
                  {{ form.sequence2.errors.as_text }}
              </div>
          {% endif %}
      </div>

      <div class="form-field">
        {{ form.ignore_case_choice }}
        <label for="{{ form.ignore_case_choice.id_for_label }}">Groß-/Kleinschreibung ignorieren</label>
    </div>
      <div class="button-container">
        <button type="submit">Ausführen</button>
        </div>
    </form>
  </div>

  <div class = "output">  

    {% if results is not None %}
        <h2>Output</h2>
        <div class = "main_output">
          <table class = "calculation">
            <thead>
              <tr>                
                {% for item in results.0 %}
                  <th>{{ item }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in results %}
              {% if forloop.first %} 
              {% else %}
                <tr>
                  {% for item in row %}
                    
                      <td{% if item == 1 %} class="filled"{% endif %}>{% if item != 1 and item != 0%}{{ item }}{% endif %}</td>
                    
                  {% endfor %}
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p>
            <a href="data:text/plain;charset=utf-8,{% for row in results %} {% for item in row %}{{item}};{% endfor %} %0A {% endfor %}" download="results.csv">Tabelle herunterladen</a>
        </p>
    {% endif %}
    </div>
     

{% endblock %}
