<html>
<head>
    <title>Horspool</title>
</head>
<body>
    <h1>Horspool</h1>
    <form method="POST" action="{% url 'horspool' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Suchen</button>
    </form>

    {% if results is not None %}
    <h2>Ergebnisse:</h2>        
    <p>Es wurden {{comparsions_count}} Vergleiche gemacht.</p>
    {% if results|length > 0 %}
        <p>Das Muster wurde an folgenden Positionen gefunden:</p>
        <p>
            {% for position in results %}
                {{ position }}
            {% endfor %}
        </p>
        {% if results_count > 100 %}
            <p>
                Das vollständige Ergebnis ist zu lang und kann nicht angezeigt werden, es steht aber zum Download bereit.
            </p>
        {% endif %}
    {% else %}
        <p>Das Muster wurde im String nicht gefunden.</p>
    {% endif %}
    
    <p>
        <a href="data:text/plain;charset=utf-8,{{ file_content }}" download="results.txt">Alle Ergebnisse herunterladen</a>
    </p>
{% endif %}

</body>
</html>