{% extends 'base.html' %}
{% load static %}
    {% block content %}
 
    <br>
      <style>
      
      .max-width-input {
      width: 100%; 
      } 

        .path {
          background-color: #c7dff8;
        }
    
        .hor {
          background-image: url('{% static "images/hor.png" %}');
          background-repeat: no-repeat;
          background-size: contain;
        }
    
        .vert {
          background-image: url('{% static "images/vert.png" %}');
          background-repeat: no-repeat;
          background-size: contain;
        }
    
        .diag {
          background-image: url('{% static "images/diag.png" %}');
          background-repeat: no-repeat;
          background-size: contain;
        }

        .diaghor {
            background-image: url('{% static "images/diag_hor.png" %}');
            background-repeat: no-repeat;
            background-size: contain;
          }

        .diagvert {
        background-image: url('{% static "images/diag_vert.png" %}');
        background-repeat: no-repeat;
        background-size: contain;
        }
    
        .diaghorvert {
            background-image: url('{% static "images/diag_hor_vert.png" %}');
            background-repeat: no-repeat;
            background-size: contain;
            }

        .horvert {
            background-image: url('{% static "images/hor_vert.png" %}');
            background-repeat: no-repeat;
            background-size: contain;
            }

        table {
          border-collapse: collapse;
        }
        .alignment-table{
            font-family: monospace;
        }
        td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        .alignment:hover {
            background-color:  #88bdf5;
            }
        .alignment.selected {
        background-color: #007bff;
        color: white;
        }
        .selectedcell {
          background-color: #007bff;
          color: white;
          }
      </style>
    </head>
    <body>
      <h1>Needleman Wunsch Alignment</h1>
      <p>
        Beschreibung
      </p>
      <h2> Input </h2>
      <form method="POST" action="{% url 'needleman_wunsch' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
          <button type="submit">Ausführen</button>
      </div>
      </form>


      {% if matrix is not None %} 
      <h2>Output</h2>  
        <table id="matrixTable"> </table>
        <br>
        <div id="alignmentsContainer"> </div>
        <input type="checkbox" id="showArrows"> <label for="showArrows">Alle Pfeile anzeigen</label>  
      <script> 
        var tracebackMatrix = {{ traceback|safe}}
        var matrixValues = {{matrix}}
        var alignments = {{alignments|safe}}
        var showArrowsCheckbox = document.getElementById("showArrows")
        var firstSequence = '{{form.sequence1.value}}'.split("")
        console.log(tracebackMatrix)
        firstSequence.unshift(""); 
        firstSequence.unshift("");
        var secondSequence = '{{form.sequence2.value}}'.split("")
        secondSequence.unshift(""); 
        secondSequence.unshift("M");
    </script>
      <script src="{% static 'js/pairwise.js' %}"></script>   
      {% endif %}
    {% endblock %}