{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/alignments.css' %}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

{% endblock %}
    {% block content %}
 
    <br>
      <style>

      .max-width-input {
      width: 100%; 
      } 

        .path {
          background-color: #c7dff8;
        }
    
        .hor {
          background-image: url('{% static "images/hor.png" %}');
          background-repeat: no-repeat;
          background-size: contain;
        }
    
        .vert {
          background-image: url('{% static "images/vert.png" %}');
          background-repeat: no-repeat;
          background-size: contain;
        }
    
        .diag {
          background-image: url('{% static "images/diag.png" %}');
          background-repeat: no-repeat;
          background-size: contain;
        }
    
        table {
          border-collapse: collapse;
        }
        .alignment-table{
            font-family: monospace;
        }
        td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        .alignment:hover {
            background-color:  #88bdf5;
            }
        .alignment.selected {
        background-color: #007bff;
        color: white;
        }
      </style>
    </head>
    <body>
      <h1>Needleman Wunsch Alignment</h1>
      <p>
        Der Needleman-Wunsch-Algorithmus ist ein Algorithmus für das paarweise Sequenz-Alignment. 
        Er vergleicht zwei angegebene Sequenzen miteinander, wobei für jedes Paar von Positionen beider Sequenzen ein Score berechnet und in der Score-Matrix \(M\) gespeichert wird.
         Hierfür werden die Werte für Übereinstimmungen (Match), Unterschiede (Mismatch) und Lückenstrafen (Gap-Penalty) benötigt.
        </p>
        <p>
        Um den Score an einer bestimmten Stelle in der Score-Matrix \(M\) zu berechnen, werden drei temporäre Scores aus den drei vorherigen Richtungen (diagonal, 
        vertikal und horizontal) berechnet. Der maximale oder minimale Score aus diesen drei Werten wird als der Score für diese spezifische Stelle festgelegt, abhängig davon, 
        ob die Optimierung auf Distanz oder Ähnlichkeit abzielt.
        </p>
        <p>
        Während der Bewertung werden die Richtungen, aus denen die maximalen oder minimalen Scores erzielt wurden, in einer Traceback-Matrix gespeichert. 
        Diese Traceback-Matrix ermöglicht es uns später, das optimale Alignment von der unteren rechten Ecke bis zur oberen linken Ecke der Score-Matrix zu rekonstruieren. 
        Der Score des Aligments ist der Wert von der unteren rechten Ecke in der Score-Matrix.
        </p>
        <p>Die Formel zur Berechnung jeder Stelle in der Score-Matrix lautet: </p>
        <p> \(
          M(i,j) = m \begin{cases}
                      M(i-1,j-1) + s \\
                      M(i-1,j) + Gap\: penalty \\
                      M(i,j-1) + Gap\: penalty, \quad \text{wo}
                    \end{cases}
                    \)
          </p>
          <p>
          \(
          s = \begin{cases}
          Match,\text{ wenn } \text{seq1}(i) = \text{seq2}(j) \\
          Mismatch,\text{ wenn } \text{seq1}(i) \neq \text{seq2}(j) \quad \text{und}
          \end{cases}
          \)
        </p>
          <p>
          \(
            m = \begin{cases}
          min,\text{ wenn Optimierung nach Distanz}, \\
          max,\text{ wenn Optimierung nach Ähnlichkeit}
          \end{cases}
          \)
      </p>
      <h2> Input </h2>
      <p>
        Die Sequenzen dürfen maximal 500.000 Zeichen lang sein, es sind nur lateinische Buchstaben erlaubt
      </p>
      <p>
       Die Scores für Match, Mismatch und Gap müssen im Bereich zwischen -1000.0 und 1000.0 sein
      </p>
      <form method="POST" action="{% url 'needleman_wunsch' %}">
        {% csrf_token %}
        <!--{{form.as_p}} -->

        
        <div class="form-field {% if form.sequence1.errors %}has-error{% endif %}">
          <label for="{{ form.sequence1.id_for_label }}">Sequenz 1:</label>
          <br>
          {{ form.sequence1 }}
          {% if form.sequence1.errors %}
              <div class="error-message">
                  {{ form.sequence1.errors.as_text }}
              </div>
          {% endif %}
      </div>

  
      <div class="form-field {% if form.sequence2.errors %}has-error{% endif %}">
          <label for="{{ form.sequence2.id_for_label }}">Sequenz 2:</label>
          <br>
          {{ form.sequence2 }}
          {% if form.sequence2.errors %}
              <div class="error-message">
                  {{ form.sequence2.errors.as_text }}
              </div>
          {% endif %}
      </div>
      <div class = "form-field">
        <label for="{{ form.match.id_for_label }}">Match:</label>
        <br>
        {{form.match}}
      </div>
      <div class = "form-field">
        <label for="{{ form.mismatch.id_for_label }}">Mismatch:</label>
        <br>
        {{form.mismatch}}
      </div>
      
    
       <div class="form-field">
        <label for="{{ form.gap_penalty.id_for_label }}">Gap-Score:</label>
        <br>
        {{form.gap_penalty}}

       </div>

       <div class="form-field">
        
        <label for="{{ form.optimization_field.id_for_label }}">Optimieren nach:</label>
        <br>
        {{form.optimization_field}}

       </div>


      
      <div class="button-container">
          <button type="submit">Ausführen</button>
      </div>

      



      
      </form>


      {% if matrix is not None %} 
      <h2>Output</h2>  
      <table id="matrixTable"> </table>
        
      <br>
      <div id="alignmentsContainer"> </div>
      <br>
      <a href="data:text/plain;charset=utf-8,{{fasta_content}}" download="alignments.fasta">Alignments im FASTA-Format herunterladen</a>
      <input type="checkbox" id="showArrows"> <label for="showArrows">Alle Pfeile anzeigen</label>  
    <script> 
      var tracebackMatrix = {{ traceback|safe}};
      var matrixValues = {{matrix}};
      var alignments = {{alignments|safe}};
      var showArrowsCheckbox = document.getElementById("showArrows");
      var firstSequence = '{{form.sequence1.value}}'.split("");
      firstSequence.unshift(""); 
      firstSequence.unshift("");
      var secondSequence = '{{form.sequence2.value}}'.split("");
      secondSequence.unshift(""); 
      secondSequence.unshift("M"); 
    </script>
      <script src="{% static 'js/pairwise.js' %}"></script>   
      {% endif %}
    {% endblock %}