{% extends 'base.html' %}
<html>
  {% block content %}

<style>
  
</style>
<body>
    <h1> Neighbour Joining</h1>
    <p>
      Beschreibung
      <ul> 
      
    </ul>
    </p>
    <h2> Input </h2>
    <form method="POST" action="{% url 'neighbour_joining' %}">
      {% csrf_token %}
      <div class = "form-field">
        <label for="{{ form.names.id_for_label }}">Namen:</label>
        <br>
        {{form.names}}
      </div>
      <div class = "form-field">
        <label for="{{ form.csv_data.id_for_label }}">Mismatch:</label>
        <br>
        {{form.csv_data}}
      </div>
      
      <div class="button-container">
        <button type="submit">Ausführen</button>
    </div>
  </form>
    
</body>

{% endblock %}
</html>