{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/phylo.css' %}">
{% endblock %}
  {% block content %}

    <h1> Neighbour Joining</h1>
    <p>
      Beschreibung
      <ul> 
      
    </ul>
    </p>
    <h2> Input </h2>
    <form method="POST" action="{% url 'neighbour_joining' %}">
      {% csrf_token %}
      <div class = "form-field">
        <label for="{{ form.names.id_for_label }}">Namen:</label>
        <br>
        {{form.names}}
      </div>
      <div class = "form-field">
        <label for="{{ form.csv_data.id_for_label }}">Mismatch:</label>
        <br>
        {{form.csv_data}}
      </div>
      
      <div class="button-container">
        <button type="submit">Ausführen</button>
    </div>
  </form>

  {% if newick is not None %} 
  <p>Newick-String: {{newick}}</p>
  <br>
  <img class= "tree-plot" src="data:image/svg;base64, {{base64_plot}}"/>

<div id="tables-container"></div>
<script>  
var iterations = {{iterations|safe}}
</script>

<script src="{% static 'js/phylo.js' %}"></script> 
{% endif %}
{% endblock %}

