{% extends 'base.html' %}
{% load static %}
{% block title%} Neighbour Joining {% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/phylo.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}
  {% block content %}

    <h1> Neighbour Joining</h1>
    <p class="custom-paragraph">
      Neighbour Joining ist eine Methode des hierarchischen Clusterings, 
      die sich auf die Mutationsgeschwindigkeiten und Verwandtschaftsbeziehungen der Taxa \( k \)
      onzentriert. Die gegebene Distanzmatrix \( D\) reicht nicht aus, um die Verwandtschaft 
      aller Taxa darzustellen, sondern erfasst lediglich die Distanzen zwischen je zwei Taxa. Daher ist es erforderlich, die Distanzen zu korrigieren, wobei die durchschnittlichen Distanzen von jedem Taxon \( x \) zu jedem anderen berechnet werden. Diese Durchschnittsdistanzen werden als Netto-Divergenz \( rx \) bezeichnet, wobei
      
      
    </p>
    
      <p>
        \( r(x) = \frac{1}{N-2} \cdot \sum_{k=1}^{N} D(x,k) \)
    </p>
    
    <p class="custom-paragraph">
      ist (\( N \) steht für die Anzahl der Taxa in der aktuellen Distanzmatrix, und \( N \) ändert sich nach jedem Cluster; \( k \) ist ein Taxon in der neuen Distanzmatrix).
Danach wird die korrigierte Distanzmatrix \( M \) mithilfe folgender Formel berechnet:
    </p>

    <p> 
      \( M(i,j) = D(i,j) - (r(i) + r(j)) \)
    </p>
    <p class="custom-paragraph">
      Zwei Taxa \( i \) und \( j \) mit der minimalen Distanz in der Matrix \( M \) werden zu einem Cluster zusammengefügt. Die Länge der Kanten für \( i \) und \( j \) im Cluster wird wie folgt berechnet:

    </p>
    <p>
      \( L(i) = \frac{D(i,j) + r(i) - r(j)}{2} \)
  </p>
  <p>
      \( L(j) = D(i,j) - L(i) \)
  </p>
  
    <p class="custom-paragraph">
      Nach der Bildung des Clusters wird die Distanzmatrix \( D \) aktualisiert und die neuen Distanzen wie folgt berechnet:

    </p>
    <p>
      \( D((i,j),k) = \frac{D(i,k) + D(j,k) - D(i,j)}{2} \)
  </p>
  
    <p class="custom-paragraph">
      Diese iterative Vorgehensweise führt zur Erstellung eines phylogenetischen Baums ohne Wurzel. Gleichzeitig wird ein Newick-String generiert, welcher den Baum in Textform beschreibt und somit die Verzweigungen und Hierarchien der Taxa widerspiegelt.
    </p>

    <h2> Input </h2>
    <ul>
      <li>
    <p class="custom-paragraph">
      Die Namen sollten durch Semikolon (;) getrennt werden und die Anzahl der Spalten und Zeilen in der Distanzmatrix entsprechen. Sollten keine Namen eingegeben werden, werden sie automatisch generiert.
    </p> </li>
    <li> 
    <p class="custom-paragraph">
      Die Distanzmatrix wird im CSV-Format eingegeben, wobei die Werte durch Semikolon (;) getrennt sind. Die Anzahl der Zeilen und Spalten ist identisch und darf nicht kleiner als zwei sein. Die Distanzmatrix kann entweder recht- oder linksdiagonal eingegeben werden. Im Falle einer rechtsdiagonalen Matrix wird sie in der Methode automatisch in eine Linkdiagonale umgewandelt.
    </p> </li>
    <li>
    <p class="custom-paragraph">
      Distanzwerte dürfen in der Matrix nicht negativ sein .
    </p> </li>
    </ul>
    <form method="POST" action="{% url 'neighbour_joining' %}">
      {% csrf_token %}
      <div class = "form-field">
        <label for="{{ form.names.id_for_label }}">Namen:</label>
        <br>
        {{form.names}}
        {% if form.names.errors %}
        <div class="error-message">
            {{ form.names.errors.as_text }}
        </div>
  {% endif %}

      </div>
      <div class = "form-field">
        <label for="{{ form.csv_data.id_for_label }}">CSV-Data:</label>
        <br>
        {{form.csv_data}}
        {% if form.csv_data.errors %}
        <div class="error-message">
            {{ form.csv_data.errors.as_text }}
        </div>
  {% endif %}
      </div>
      
      <div class="button-container">
        <button type="submit">Ausführen</button>
    </div>
  </form>


  {% if newick is not None %}
  <h2>Output</h2> 
  <p>Newick-String: {{newick}}</p>
  <br>
  <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom-container@0.6.1"></script>
  <div id="svg-container" data-pan-on-drag="" data-zoom-on-wheel="min-scale: 0.1; max-scale: 1000;">{{svg|safe}}</div>
  <p>Plot als <a href="data:image/svg;base64,{{base64_plot}}" download="nj_plot.png">png</a> oder <a id="downloadSvg" href="#" download="nj.svg">svg</a> herunterladen</p>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var svgContent = `{{ svg|safe }}`;
      svgContent = window.btoa(svgContent); //in base 64 umwandeln
     
      var downloadLink = document.getElementById('downloadSvg');
      downloadLink.href = 'data:image/svg+xml;base64,' + svgContent;
    });
    </script>
    <div id="tables-container"></div>
    <script>  
    var iterations = {{iterations|safe}};
    var algorithm = "nj";
    </script>
    
    <script src="{% static 'js/phylo.js' %}"></script> 
    {% endif %}
    {% endblock %}
