{% extends 'base.html' %}

<html>
    {% block content %}
<head>
    <title>Simple search</title>
</head>
<style>
  .max-width-input {
  width: 100%; 
}
</style>
<body>
    <h1>Simple Search</h1>
    <p>
        SimpleSearch Algorithmus wird verwendet, um ein Pattern in einem String zu suchen. Bei dieser Art der Suche wird eine sequenzielle Suche über alle Buchstabe nacheinander durchgeführt.
        Dabei wird bei jedem Abbrechen des Vergleichs von dem Muster und einem gleich langem Teil der Sequenz, das Suchfenster um eins nach vorne verschoben. 
        Der Vergleich wird abgebrochen, wenn entweder das Muster gefunden wurde oder zwei Buchstaben nicht übereinstimmen.
       
    </p>
    <form method="POST" action="{% url 'simple_search' %}">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Suchen</button>
    </form>

    {% if results is not None %}
    <h2>Ergebnisse:</h2>        
    <p>Es wurden {{comparisons_count}} Vergleiche gemacht.</p>
    {% if results|length > 0 %}
        <p>Das Muster wurde an folgenden Positionen gefunden:</p>
        <p>
            {% for position in results %}
                {{ position }}
            {% endfor %}
        </p>
        {% if results_count > 100 %}
            <p>
                Das vollständige Ergebnis ist zu lang und kann nicht angezeigt werden, es steht aber zum Download bereit.
            </p>
        {% endif %}
    {% else %}
        <p>Das Muster wurde im String nicht gefunden.</p>
    {% endif %}
    
    <p>
        <a href="data:text/plain;charset=utf-8,{{ file_content }}" download="results.txt">Alle Ergebnisse herunterladen</a>
    </p>
{% endif %}
</body>
{% endblock %}
</html>