{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/alignments.css' %}">
{% endblock %}

  {% block content %}

    <h1>Smith-Waterman Alignment</h1>
    <p>
      Beschreibung
      <ul> 
     
    </ul>
    </p>
    <h2> Input </h2>
    <form method="POST" action="{% url 'smith_waterman' %}">
      {% csrf_token %}
      {{ form.as_p }}
      
      <div class="button-container">
        <button type="submit">Ausführen</button>
    </div>
  </form>
  {% if matrix is not None %}   
  <h2>Output</h2>  
  <table id="matrixTable"> </table>
  
  <br>
  <div id="alignmentsContainer"> </div>
  <br>
  <a href="data:text/plain;charset=utf-8,{{fasta_content}}" download="alignments.fasta">Alignments im FASTA-Format herunterladen</a>
  <br>
  <input type="checkbox" id="showArrows"> <label for="showArrows">Alle Pfeile anzeigen</label>  
    
  <script> 
    var tracebackMatrix = {{ traceback|safe}};
    var matrixValues = {{matrix}};
    var alignments = {{alignments|safe}};
    var showArrowsCheckbox = document.getElementById("showArrows");
    var firstSequence = '{{form.sequence1.value}}'.split("");
    firstSequence.unshift(""); 
    firstSequence.unshift("");
    var secondSequence = '{{form.sequence2.value}}'.split("");
    secondSequence.unshift(""); 
    secondSequence.unshift("M"); 
</script>
<script src="{% static 'js/pairwise.js' %}"></script> 
{% endif %} 
{% endblock %}
