{% extends 'base.html' %}
{% load static %}
{% block title%} Suffix-Trie {% endblock %}
{% block extra_head %} 
<link rel="stylesheet" href="{% static 'css/suffix_tree_trie.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}
{% block content %}


     
    <h1>Suffix-Trie</h1>
    <div class ="description"> 
      <p>
        Ein Suffix Trie ist ein Baum, in dem jeder Pfad von der Wurzel zu einem Blatt einem Suffix des Texts entspricht. Es ermöglicht schnelle Musterabfrage, aber der Speicherbedarf kann hoch sein, insbesondere für lange Texte.
      </p>

      <p>Die Methode erfordert neben einem Text und einem Muster auch ein Endzeichen. Dieses Endzeichen markiert das Ende eines Suffixes, damit ein längerer Suffix nicht versehentlich einen überlappenden kürzeren Suffix verdeckt. Das Endzeichen sollte sich von den Buchstaben im Text und im Muster unterscheiden.
      </p>
   
      </div>
    <h2> Input </h2>
    <form method="POST" action="{% url 'suffix_trie' %}">
      {% csrf_token %}
      <div class="form-field {% if form.sequence.errors %}has-error{% endif %}">
        <label for="{{ form.sequence.id_for_label }}">Text:</label>
        {{ form.sequence }}
        {% if form.sequence.errors %}
            <div class="error-message">
                {{ form.sequence.errors.as_text }}
            </div>
        {% endif %}
    </div>
    <div class="form-field {% if form.pattern.errors %}has-error{% endif %}">
        <label for="{{ form.pattern.id_for_label }}">Muster:</label>
        {{ form.pattern }}
        {% if form.pattern.errors %}
            <div class="error-message">
                {{ form.pattern.errors.as_text }}
            </div>
        {% endif %}
    </div>
     
    <div class="form-field {% if form.endchar.errors %}has-error{% endif %}">
      <label for="{{ form.endchar.id_for_label }}">Endzeichen:</label>
      {{ form.endchar }}
      {% if form.endchar.errors %}
          <div class="error-message">
              {{ form.endchar.errors.as_text }}
          </div>
      {% endif %}
  </div>

      
      <div class="button-container">
        <button type="submit">Ausführen</button>
    </div>
  </form>
  {% if base64_plot is not None %} 
  <h2>Output</h2>
  {% if found is not None %}
  {% if found is True %}
  <p>Das Muster ist im Text enthalten.</p>
  {% elif found is False %}
  <p>Das Muster ist im Text nicht enthalten.</p>
  {% endif %}
  {% endif %}
  <p>Suffix-Trie:</p>
  <br>  
  <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom-container@0.6.1"></script>
  <div id="svg-container" data-pan-on-drag="" data-zoom-on-wheel="min-scale: 0.1; max-scale: 1000;">{{svg|safe}}</div>
  <p>Suffix-Trie als <a href="data:image/png;base64,{{base64_plot}}" download="suffix_trie_plot.png">png</a> oder <a id="downloadSvg" href="#" download="suffix_trie_plot.svg">svg</a> herunterladen</p>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var svgContent = `{{ svg|safe }}`;
        svgContent = window.btoa(svgContent); //in base 64 umwandeln
       
        var downloadLink = document.getElementById('downloadSvg');
        downloadLink.href = 'data:image/svg+xml;base64,' + svgContent;
      });
      </script>
    {% endif %}
  
{% endblock %}
