{% extends 'base.html' %}
{% load static %}
{% block title%} Suffixarray {% endblock %}
{% block extra_head %} 
<link rel="stylesheet" href="{% static 'css/suffix_array.css' %}"> {% endblock %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}

    <h1> Suffixarray</h1>
    <div class ="description"> 
      <p>
        Das Suffix Array ist eine sortierte Liste aller Suffixe eines Texts. Durch eine binäre Suche in diesem Array können die Positionen der Muster im Text gefunden werden. Es benötigt weniger Speicherplatz im Vergleich zu anderen Strukturen wie dem Suffix-Trie und -Baum und eignet sich gut für Anwendungen mit begrenztem Speicher.
      </p>

      <p>Bitte beachte: Die folgende Methode führt eine binäre Suche durch und gibt eine Vorhersage darüber ab, ob das Muster im Text vorhanden ist. Die Positionen, an denen das Muster im Text auftritt, werden hierbei jedoch nicht ermittelt.
       
      </p>
      </div>
    <h2> Input </h2>
    <form method="POST" action="{% url 'suffix_array' %}">
      {% csrf_token %}
      {{ form.as_p }}
      
      <div class="button-container">
        <button type="submit">Ausführen</button>
    </div>
  </form>
    
{% if suffix_array is not None %}
<h2> Output </h2>
{% if found is not None %}
{% if found is True %}
<p>Das Muster ist im Text enthalten.</p>
{% elif found is False %}
<p>Das Muster ist im Text nicht enthalten.</p>
{% endif %}
{% endif %}
<br>
<div class="suffix-array-container">
<table class="suffix-array">
  <tbody>
    {% for row in suffix_array %}
      <tr>
        {% if forloop.first %}
          {% for item in row %}
            <th>{{ item }}</th>
          {% endfor %}
        {% else %}
          {% for item in row %}
            <td>{{ item }}</td>
          {% endfor %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>



{% endif %}

{% endblock %}
