{% extends 'base.html' %}
{% load static %}
{% block title%} Suffixtree {% endblock %}
{% block extra_head %} <link rel="stylesheet" href="{% static 'css/suffix_tree_trie.css' %}"> {% endblock %}
{% block content %}


    <h1> Suffixtree</h1>
    <div class ="description"> 
      <p>
        Ein Suffix-Baum ist eine kompakte Datenstruktur, die alle Suffixe eines Texts darstellt. Er optimiert den Speicherbedarf im Vergleich zu einem Suffix-Trie, während er immer noch schnelle Musterabfragen ermöglicht.
      </p>

      <p>In der folgenden Methode wird der Baum aus einem Trie aufgebaut, wobei die Knoten, die Einzelbuchstaben repräsentieren, mit ihren Nachbarn zu einem neuen Knoten zusammengeführt werden. Dadurch wird weniger Speicherplatz benötigt.
       
      </p>
      <p>
        Die Methode erfordert neben einem Text und einem Muster auch ein Endzeichen. Dieses Endzeichen markiert das Ende eines Suffixes, damit ein längeres Suffix nicht versehentlich einen überlappenden kürzeren Suffix verdeckt. Das Endzeichen sollte sich von den Buchstaben im Text und im Muster unterscheiden.
      </p>
      </div>
    <h2> Input </h2>
    <form method="POST" action="{% url 'suffix_tree' %}">
      {% csrf_token %}
      {{ form.as_p }}
      
      <div class="button-container">
        <button type="submit">Ausführen</button>
    </div>
  </form>
    
  {% if base64_plot is not None %} 
  {% if found is not None %}
  {% if found is True %}
  <p>Das Muster ist im Text enthalten.</p>
  {% elif found is False %}
  <p>Das Muster ist im Text nicht enthalten.</p>
  {% endif %}
  {% endif %}
  <p>Suffixbaum:</p>
  <br>  
  <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom-container@0.6.1"></script>
  <div id="svg-container" data-pan-on-drag="" data-zoom-on-wheel="min-scale: 0.1; max-scale: 1000;">{{svg|safe}}</div>
  <p>Suffixbaum als <a href="data:image/png;base64,{{base64_plot}}" download="suffix_tree_plot.png">png</a> oder <a id="downloadSvg" href="#" download="suffix_tree_plot.svg">svg</a> herunterladen</p>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var svgContent = `{{ svg|safe }}`;
        svgContent = window.btoa(svgContent); //in base 64 umwandeln
       
        var downloadLink = document.getElementById('downloadSvg');
        downloadLink.href = 'data:image/svg+xml;base64,' + svgContent;
      });
      </script>
    {% endif %}
  
{% endblock %}
