{% extends 'base.html' %}
{% load static %}
{% block title%} UPGMA {% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/phylo.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}
  {% block content %}

   
    <h1> UPGMA</h1>
    <p class="custom-paragraph">
      UPGMA steht für "Unweighted Pair Group Method with Arithmetic Mean" und repräsentiert eine Methode des hierarchischen Clusterings. Mithilfe gegebener Distanzen zwischen Objekten erfolgt die rekursive Bildung von Clustern, wobei jeweils zwei Objekte mit der kürzesten Distanz zusammengeführt werden. Die Längen der Äste im resultierenden Clusterbaum entsprechen den durchschnittlichen Distanzen der beteiligten Objekte.
Dieser Algorithmus führt zur Erstellung eines phylogenetischen Baums mit einer Wurzel. Zusätzlich wird ein Newick-String generiert, welcher den Baum in Textform beschreibt und somit die Verzweigungen und Hierarchien der Objekte widerspiegelt.
      </p>
      <p class="custom-paragraph"> 
In dieser Methode werden die Längen der Äste sowie die aktualisierte Distanzmatrix mithilfe folgender Formeln berechnet:
Cluster zweier Objekte \( i \) und \( j \), deren Distanz minimal in der Matrix ist.
Die Länge von \( i \) , \( j \) zu \( k \) (\( k \) ist ein Objekt in der neuen Distanzmatrix):
    
      
    </p>
    <p>
      \( L_i = L_j = \frac{D(i,j)}{2} \)
    </p>
    <p class="custom-paragraph">
      Nach dem Zusammenfügen von \( i \), \( j \) wird die Distanzmatrix D aktualisiert, indem die neuen Distanzen zwischen dem Objekt \( k \) und dem Cluster von \( i \), \( j \) jeweils gerechnet:

    </p>
    
    <p>wobei</p>
    <p>
      \(
        I \text{ oder } J = \begin{cases}
        1, \text{ wenn } i \text{ oder } j \text{ ein Objekt}  \\
        \text{Anzahl der Objekte}, \text{ wenn } i \text{ oder } j \text{ ein Cluster}
        \end{cases}
        \)
    </p>
    <h2> Input </h2>
    <form method="POST" action="{% url 'upgma' %}">
      {% csrf_token %}
      <div class = "form-field">
        <label for="{{ form.names.id_for_label }}">Namen:</label>
        <br>
        {{form.names}}
        {% if form.names.errors %}
              <div class="error-message">
                  {{ form.names.errors.as_text }}
              </div>
        {% endif %}
      </div>
      <div class = "form-field">
        <label for="{{ form.csv_data.id_for_label }}">CSV-Data:</label>
        <br>
        {{form.csv_data}}
        {% if form.csv_data.errors %}
              <div class="error-message">
                  {{ form.csv_data.errors.as_text }}
              </div>
        {% endif %}
      </div>
      
      
      <div class="button-container">
        <button type="submit">Ausführen</button>
    </div>
  </form>




  {% if newick is not None %} 
  <h2>Output</h2>
  <p>Newick-String: {{newick}}</p>
  <br>
  <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom-container@0.6.1"></script>
  <div id="svg-container" data-pan-on-drag="" data-zoom-on-wheel="min-scale: 0.1; max-scale: 1000;">{{svg|safe}}</div>
  <p>Plot als <a href="data:image/svg;base64,{{base64_plot}}" download="upgma_plot.png">png</a> oder <a id="downloadSvg" href="#" download="upgma.svg">svg</a> herunterladen</p>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var svgContent = `{{ svg|safe }}`;
      svgContent = window.btoa(svgContent); //in base 64 umwandeln
     
      var downloadLink = document.getElementById('downloadSvg');
      downloadLink.href = 'data:image/svg+xml;base64,' + svgContent;
    });
    </script>

<div id="tables-container"></div>
<script>  
var iterations = {{iterations|safe}}
</script>

<script src="{% static 'js/phylo.js' %}"></script> 
{% endif %}
{% endblock %}
