<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {% if sequence and states %}
        <h3>Übergangsmatrix</h3>
        <table>
            <tr>
                <th></th>
                {% for state in states %}
                    {% if state != "Start" %}
                    <th> 
                            {{ state }} 
                    </th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for state, probabilities in state_probabilities %}
                <tr>
                    <td>{{ state }}</td>
                    {% for probability in probabilities %}
                        <td><input type="number" step="any" name="state_probabilities" value="{{ probability }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <h3>Emissionsmatrix</h3>
        <table>
            <tr>
                <th></th>
                {% for symbol in symbols %}
                    <th>{{ symbol }}</th>
                {% endfor %}
            </tr>
            {% for state, probabilities in symbol_probabilities %}
                <tr>
                    <td>
                        {{ state }} 
                    </td>
                    {% for probability in probabilities %}
                        <td><input type="number" step="any" name="symbol_probabilities" value="{{ probability }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <button type="submit">Submit</button>
</form>
    {% if not sum_is_valid%}
    <p>
        Die Summe der Wahscheinlichkeiten in jeder Zeile soll 1 betragen, bitte überprüfen Sie die Eingaben in der Übergangs- und Emissionsmatrix
    </p>
    {% endif%}

    {% if sum_is_valid %}

    <input type="checkbox" id="logCheckbox" onclick="toggleTableVisibility()"> Logarithmische Skala

    <table border="1" id="probabilityMatrixTable">
        {% for row in probability_matrix_result %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <br>

    <table border="1" id="logProbabilityMatrixTable" style="display: none;">
        {% for row in log_probability_matrix_result %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
<br>
<table border="1">
    {% for row in path_matrix_result %}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
    {% endif%}

<script>
    function toggleTableVisibility() {
        var checkbox = document.getElementById("logCheckbox");
        var probabilityMatrixTable = document.getElementById("probabilityMatrixTable");
        var logProbabilityMatrixTable = document.getElementById("logProbabilityMatrixTable");

        if (checkbox.checked) {
            probabilityMatrixTable.style.display = "none";
            logProbabilityMatrixTable.style.display = "table";
        } else {
            probabilityMatrixTable.style.display = "table";
            logProbabilityMatrixTable.style.display = "none";
        }
    }
</script>