{% extends 'base.html' %}
{% load static %}
{% block title%} Viterbi {% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/phylo.css' %}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}
  {% block content %}
  <h1>Viterbi</h1>
  <p class="custom-paragraph">
    Eine Markov-Kette ist ein mathematisches Modell, das eine Sequenz von Zuständen beschreibt, wobei der Übergang von einem Zustand zum nächsten auf der Grundlage einer probabilistischen Bedingung erfolgt. Durch die Verknüpfung mehrerer Markov-Ketten entstehen komplexe Modelle, in denen Zustände und Zustandsübergänge nicht direkt beobachtbar sind. Dieses Konzept wird als Hidden Markov Model (HMM) bezeichnet.
Der Viterbi-Algorithmus ist ein Verfahren, das zur Bestimmung der wahrscheinlichsten Sequenz von versteckten Zuständen in einem HMM verwendet wird. Hierbei werden die Wahrscheinlichkeiten der Zustandsübergänge sowie die Emission von Symbolen in einem Zustand genutzt, um den wahrscheinlichsten Pfad zu ermitteln. Während der Berechnung speichert der Algorithmus die vorherigen Zustände, aus denen sich die maximale Wahrscheinlichkeit für den aktuellen Zustand ergibt, in einer Traceback-Matrix. Der Pfad wird anhand der maximalen Wahrscheinlichkeit des letzten Symbols der Sequenz bestimmt und durch die Traceback-Matrix zurückverfolgt.
</p>
<p class="custom-paragraph">

Für den Algorithmus sind eine Sequenz \( a \), eine Menge der verborgenen Zustände \( M \), eine Übergangswahrscheinlichkeitsmatrix \( Ü \) und eine Emissionswahrscheinlichkeitsmatrix \( E \) erforderlich. Die Übergangswahrscheinlichkeitsmatrix \( Ü \) enthält die Wahrscheinlichkeiten für den Übergang von einem Zustand zu einem anderen, während die Emissionswahrscheinlichkeitsmatrix \( E \) die Wahrscheinlichkeiten jedes Symbols in der Sequenz \( a \) für jeden Zustand enthält.
Die Formel zur Berechnung der Wahrscheinlichkeit eines Symbols an der Position \( i \) im Zustand \( s \) lautet:
  </p>
  <p>
    \( P_{a(i),s} = \max_{x \in M} \left( P_{a(i-1),x} \cdot Ü(x,s) \cdot E(a(i),s) \right) \)
</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {% if sequence and states %}
        <h3>Übergangsmatrix</h3>
        <table>
            <tr>
                <th></th>
                {% for state in states %}
                    {% if state != "Start" %}
                    <th> 
                            {{ state }} 
                    </th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for state, probabilities in state_probabilities %}
                <tr>
                    <td>{{ state }}</td>
                    {% for probability in probabilities %}
                        <td><input type="number" step="any" name="state_probabilities" value="{{ probability }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <h3>Emissionsmatrix</h3>
        <table>
            <tr>
                <th></th>
                {% for symbol in symbols %}
                    <th>{{ symbol }}</th>
                {% endfor %}
            </tr>
            {% for state, probabilities in symbol_probabilities %}
                <tr>
                    <td>
                        {{ state }} 
                    </td>
                    {% for probability in probabilities %}
                        <td><input type="number" step="any" name="symbol_probabilities" value="{{ probability }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <button type="submit">Submit</button>
</form>
    {% if sum_is_valid is not None%}
    {% if not sum_is_valid%}
    <p>
        Die Summe der Wahscheinlichkeiten in jeder Zeile soll 1 betragen, bitte überprüfen Sie die Eingaben in der Übergangs- und Emissionsmatrix
    </p>
    {% endif%}
    {% endif%}

    {% if sum_is_valid %}

    <input type="checkbox" id="logCheckbox" onclick="toggleTableVisibility()"> Logarithmische Skala

    <table border="1" id="probabilityMatrixTable">
        {% for row in probability_matrix_result %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <br>

    <table border="1" id="logProbabilityMatrixTable" style="display: none;">
        {% for row in log_probability_matrix_result %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
<br>
<table border="1">
    {% for row in path_matrix_result %}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
    {% endif%}

<script>
    function toggleTableVisibility() {
        var checkbox = document.getElementById("logCheckbox");
        var probabilityMatrixTable = document.getElementById("probabilityMatrixTable");
        var logProbabilityMatrixTable = document.getElementById("logProbabilityMatrixTable");

        if (checkbox.checked) {
            probabilityMatrixTable.style.display = "none";
            logProbabilityMatrixTable.style.display = "table";
        } else {
            probabilityMatrixTable.style.display = "table";
            logProbabilityMatrixTable.style.display = "none";
        }
    }
</script>
{% endblock %}