
        .path {
          background-color: #c7dff8;
        }
        p {
            text-align: justify;
        }
        .hor {
          background-image: url('/webapp/static/images/hor.png');
          background-repeat: no-repeat;
          background-size: contain;
        }
    
        .vert {
          background-image: url('/webapp/static/images/vert.png');
          background-repeat: no-repeat;
          background-size: contain;
        }
    
        .diag {
          background-image: url('/webapp/static/images/diag.png');
          background-repeat: no-repeat;
          background-size: contain;
        }

        .diaghor {
            background-image: url('/webapp/static/images/diag_hor.png');
            background-repeat: no-repeat;
            background-size: contain;
          }

        .diagvert {
        background-image: url('/webapp/static/images/diag_vert.png');
        background-repeat: no-repeat;
        background-size: contain;
        }
    
        .diaghorvert {
            background-image: url('/webapp/static/images/diag_hor_vert.png');
            background-repeat: no-repeat;
            background-size: contain;
            }

        .horvert {
            background-image: url('/webapp/static/images/hor_vert.png');
            background-repeat: no-repeat;
            background-size: contain;
            }

        table {
          border-collapse: collapse;
        }
        .alignment-table{
            white-space: pre;
            font-family: monospace;
            text-align: left;
            font-size: 16px;
            background-color: #f2f3f1;
        }
        .alignment-table td{
            border-bottom: 2px solid rgb(0,0,0,30%);
        }
        #matrixTable {
            
            border-collapse: collapse;
            width: 100%;
        
        }
        #matrixTable td {
            border: 1px solid black;
            width:30px;
            max-width: 30px;
            padding: 11px;
            height: 30px;
            text-align: center;
            

            
        }
        .alignment:hover {
            background-color:  #88bdf5;
            }
        .alignment.selected {
        background-color: #007bff;
        color: white;
        }
        .selectedcell {
          background-color: #007bff;
          color: white;
          }

            
    .main_output {
      width: fit-content;
      background-color: #f2f3f1;    
      text-align: left;
      max-width: 95%;
      max-height: 90vh;
      display: block;  
      overflow: auto;
   
    }

    .max-width-input {
      width: 100%; 
    }
