/**Styles für UPGMA und NJ**/
.tree-plot{
    max-height:90vh;
    max-width:90vh;
    height:auto;
    width:auto;
}

.dist-table td {
    
    text-align: center;
    
}

.max-width-input {
    width: 100%; 
}
#svg-container{
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
    width: 95%; 
    height: 80vh;
    margin: 0 auto;
}