/**Styles für UPGMA und NJ**/
.tree-plot{
    max-height:90vh;
    max-width:90vh;
    height:auto;
    width:auto;
}

.dist-table table, td, thead,th {
    border-collapse: collapse;
    text-align: center;  
    border: 1px solid black;   
        
    padding: 11px;
    height: 30px;
    text-align: center;  
    
}
.dist-table{
            
    border-collapse: collapse;}

#svg-container{
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
    width: 95%; 
    height: 80vh;
    margin: 0 auto;
}
#tables-container {

    height: fit-content;
    max-height: 95vh;
    max-width: 95%;
    overflow: scroll;
}
.textarea-input {
    width: 100%; 
    height: 50px;
    font-family: Arial, sans-serif;
}

.has-error .textarea-input {
    border: 1px solid red; 
  }

  p {
    text-align: justify;
}
  